@import "src/assets/vars";
@import "src/assets/mixins";

.Board {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  height: 100%;
  padding-bottom: 1rem;

  @media screen and (width <=$tablet) {
    grid-template-columns: 1fr;
  }

  .column {
    border-radius: $border-radius;
    background: var(--color-light-grey);
    position: relative;
    width: 18rem;

    &__header {
      display: grid;
      grid-template-areas: "title menuBtn"
                           "CreateNewTask CreateNewTask";
      padding: 0.5rem 1rem;
      border-radius: $border-radius $border-radius 0 0;


      @media screen and (width <=$mobile) {
        padding: 10px;
      }
    }

    &__title {
      grid-area: title;
      font-weight: 700;
      font-size: 1.2rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: calc(100% - 2rem);
    }


    &__menuBtn {
      grid-area: menuBtn;
      background: none;
      padding: 0;
      width: fit-content;
      height: fit-content;
      margin-right: -0.8rem;
      margin-left: auto;

      &:hover {
        background: none;
        padding: 0;
        color: var(--primary-color);
      }
    }

    &__CreateNewTask {
      grid-area: CreateNewTask;
      padding: 1rem 0 0.5rem 0;
    }

    &__body {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 0.5rem 1rem;
      max-height: calc(100vh - 320px);
      overflow-y: auto;
      overflow-x: hidden;
      @include scrollbar;

      @media screen and (width <=$tablet) {
        max-height: fit-content;
      }

      @media screen and (width <=$mobile) {
        padding: 10px;
      }
    }
  }

}
