@import "src/assets/vars";
@import "src/assets/mixins";

$modal-padding: 15px;
$modal-body-max-height: 80vh;

@media screen and (width <=$tablet) {
  $modal-padding: 20px;
}

@media screen and (width <=$mobile) {
  $modal-padding: 15px;
}

.Modal {
}

.header {
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: var(--overlay-bg);
  transition: $transition;
  animation: smoothAppearanceOverlayHide $transition forwards;
  display: none;

  &.active {
    display: block;
    animation: smoothAppearanceOverlayShow $transition forwards;
  }
}

.body {
  position: fixed;
  top: 10vh;
  left: 50%;
  padding: $modal-padding;
  width: calc(100% - $modal-padding * 4);
  max-width: 600px;
  background: var(--modal-bg);
  border-radius: $border-radius;
  overflow: hidden;
  box-shadow: $shadow-s;
  overflow-y: auto;
  @include scrollbar;
  animation: smoothAppearanceHide $transition forwards;
  display: none;

  &.active {
    display: block;
    animation: smoothAppearanceShow $transition forwards;
  }
}

.content {
  padding: 5px $modal-padding $modal-padding $modal-padding;
  overflow-y: auto;
  max-height: calc($modal-body-max-height - $modal-padding * 4 - 100px);
  @include scrollbar;

  .ProjectList {
    &__container {
      max-width: none;
    }

    &__project-header {
      margin-top: 30px;
    }
  }
}

.actions {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 15px 0;
}

.okBtn {
  width: 80px;
}

.okBtn {
  @include button("xl", 150px, $color: "primary");
}

.cancelBtn {
  @include button("xl", 150px, $color: "secondary");
}

.closeBtn {
  position: absolute;
  top: calc($modal-padding / 2);
  right: calc($modal-padding / 2);
  font-size: 1.5rem;
  cursor: pointer;
}

@keyframes smoothAppearanceShow {
  0% {
    transform: translate(-50%, -100%);
    opacity: 0;
    z-index: -10;
    visibility: hidden;
  }

  100% {
    transform: translate(-50%, 0);
    opacity: 1;
    z-index: 11;
    visibility: visible;
  }
}

@keyframes smoothAppearanceHide {
  100% {
    transform: translate(-50%, 0);
    opacity: 1;
    z-index: 10;
    visibility: visible;
  }

  0% {
    transform: translate(-50%, -100%);
    opacity: 0;
    z-index: -10;
    visibility: hidden;
  }
}

@keyframes smoothAppearanceOverlayShow {
  0% {
    opacity: 0;
    z-index: -10;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    z-index: 11;
    visibility: visible;
  }
}

@keyframes smoothAppearanceOverlayHide {
  100% {
    opacity: 1;
    z-index: 10;
    visibility: visible;
  }

  0% {
    opacity: 0;
    z-index: -10;
    visibility: hidden;
  }
}
