@import 'src/assets/vars.scss';

$modal-padding: 30px;
$modal-body-max-height: 80vh;

@media screen and (width <=$tablet) {
  $modal-padding: 20px;
}

@media screen and (width <=$mobile) {
  $modal-padding: 15px;
}

.Modal {
  &__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--overlay-bg);
    z-index: 3;
    transition: 0.3s;
    animation: smoothAppearanceOverlayHide .2s forwards;

    &.active {
      animation: smoothAppearanceOverlayShow .2s forwards;
    }
  }

  &__header {
    margin-top: -14px;
  }

  &__body {
    position: absolute;
    top: 10vh;
    left: 50%;
    padding: $modal-padding;
    width: calc(100% - $modal-padding * 4);
    max-width: 600px;
    max-height: $modal-body-max-height;
    background: var(--bg-color);
    border-radius: $border-radius;
    visibility: hidden;
    animation: smoothAppearanceHide .2s forwards;
    transform: translateY(-999vh);
    opacity: 0;
    z-index: -100;
    overflow: hidden;

    &.active {
      visibility: visible;
      z-index: 3;
      animation: smoothAppearanceShow .2s forwards;
    }
  }

  &__content {
    overflow-y: auto;
    max-height: calc($modal-body-max-height - $modal-padding * 2 - 50px);
  }

  .actions {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 30px;
  }

  &__okBtn {
    width: 80px;
  }

  &__okBtn,
  &__cancelBtn {}

  &__closeBtn {
    position: absolute;
    top: $modal-padding / 2;
    right: $modal-padding / 2;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

@keyframes smoothAppearanceShow {
  0% {
    transform: translate(-50%, -100%);
    opacity: 0;
  }

  100% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

@keyframes smoothAppearanceHide {
  100% {
    transform: translate(-50%, 0);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -100%);
    opacity: 0;
  }
}

@keyframes smoothAppearanceOverlayShow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes smoothAppearanceOverlayHide {
  100% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}