@import "assets/vars";
@import "assets/mixins";

$modal-padding: 15px;
$modal-body-max-height: 80vh;

@media screen and (width <=$tablet) {
  $modal-padding: 20px;
}

@media screen and (width <=$mobile) {
  $modal-padding: 15px;
}

.Modal {
  .CreateNewProject {
    width: auto;
  }

  &__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--overlay-bg);
    z-index: 3;
    transition: 0.3s;
    animation: smoothAppearanceOverlayHide .2s forwards;

    &.active {
      animation: smoothAppearanceOverlayShow .2s forwards;
    }
  }

  &__body {
    position: absolute;
    top: 10vh;
    left: 50%;
    padding: $modal-padding;
    width: calc(100% - $modal-padding * 4);
    max-width: 600px;
    //max-height: $modal-body-max-height;
    background: var(--modal-bg);
    border-radius: $border-radius;
    visibility: hidden;
    animation: smoothAppearanceHide .2s forwards;
    transform: translateY(-999vh);
    opacity: 0;
    z-index: -100;
    overflow: hidden;
    box-shadow: $shadow-s;
    overflow-y: auto;
    @include scrollbar;

    &.active {
      visibility: visible;
      z-index: 3;
      animation: smoothAppearanceShow .2s forwards;
    }
  }

  &__content {
    padding: 5px $modal-padding $modal-padding $modal-padding;
    overflow-y: auto;
    max-height: calc($modal-body-max-height - $modal-padding * 4 - 100px);
    @include scrollbar;

    .ProjectList {
      &__container {
        max-width: none;
      }

      &__project-header {
        margin-top: 30px;
      }
    }
  }

  .actions {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px 0;
  }

  &__okBtn {
    width: 80px;
  }

  &__okBtn,
  &__cancelBtn {
    @include button("xl", 150px);
  }

  &__closeBtn {
    position: absolute;
    top: $modal-padding / 2;
    right: $modal-padding / 2;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

@keyframes smoothAppearanceShow {
  0% {
    transform: translate(-50%, -100%);
    opacity: 0;
  }

  100% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

@keyframes smoothAppearanceHide {
  100% {
    transform: translate(-50%, 0);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -100%);
    opacity: 0;
  }
}

@keyframes smoothAppearanceOverlayShow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes smoothAppearanceOverlayHide {
  100% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
