@import "src/assets/vars";
@import "src/assets/mixins";

.CreateNewProject {
  display: flex;
  justify-content: center;
  align-items: center;

  .CreateNewProject__btn {
    @include button($size: "xl", $color: "secondary");
  }
}

.CreateNewProjectForm {
  display: flex;
  gap: 10px;
  align-items: flex-end;

  .ButtonWithIcon__text {
    margin: 0;
    color: var(--font-color)
  }

  @media screen and (width <=$mobile) {
    flex-direction: column;
    align-items: normal;
  }

  .input-wrapper {
    display: flex;
    gap: 5px;
    flex-direction: column;
    flex: 1;
  }

  &__label {
    font-size: .88rem;
  }

  &__input {
    @include input;
  }

  &__selectIconBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: end;
    padding: 10px;
    font-size: 1rem;
    color: var(--font-color);

    @media screen and (width <=$mobile) {
      align-self: auto;
    }
  }

  .light &__selectIconBtn {
    color: var(--font-color);
  }

  .light &__selectIconBtn:hover {
    color: var(--font-color);
  }

  &__text {
    font-size: .8rem;
    padding: 0 10px;
  }
}

.iconsBox {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;

  &__icon {
    font-size: 1.5rem;
  }

  &__btn {
    @include button("s", $color: "transparent");
    padding: 0.5rem 0.6rem;

    &:hover {
      box-shadow: 0 0 0 2px var(--border-color);
    }
  }
}

.iconModal {

  &__nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
  }

  &__prevBtn,
  &__nextBtn {
    @include button("x", $color: "secondary");
    padding: 0.5rem 0.6rem;
  }
}
