@import "src/assets/vars.scss";

.ProjectsPage {
  grid-area: main;
  padding: 2rem 0 2rem 0;

  .CreateNewProject {
    width: auto;
  }

  .container {
    padding-top: 50px;
    padding-bottom: 50px;

    @media screen and (width <=$mobile) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}

.Modal {
  .ProjectsPage {
    .container {
      padding: 0;

      .ProjectList {
        max-width: none;
      }
    }
  }
}
