@import "src/assets/vars";
@import "src/assets/mixins";

$width: 15rem;

.AddNewStatus {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: $border-radius;
  background: var(--color-light-grey);
  min-width: $width;
  width: $width;
  height: fit-content;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.addButton {
  @include button($size: "x", $color: "secondary");
}

.okButton {
  @include button($size: "x", $color: "primary");
}

.cancelButton {
  @include button($size: "x", $color: "secondary");
}
