@import "assets/vars";
@import "assets/mixins";

.PopupMenu {
  padding: 10px;
  gap: 15px;
  border-radius: 10px;
  background: var(--color-light-grey);
  position: absolute;
  z-index: -1;
  transition: $transition;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: smoothMenuHide .2s forwards;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-color);
  cursor: auto;
  display: none;

  &.active {
    z-index: 1;
    animation: smoothMenuShow .2s forwards;
    display: flex;
  }

  &__action {
    cursor: pointer;
    transition: $transition;

    &:hover {
      color: var(--primary-color);
    }
  }

  .ButtonWithIconWrap {
    position: absolute;
    top: 10px;
    right: 6px;

    .ButtonWithIcon {
      @include button("s");

      &:hover {
        color: var(--primary-color);
      }
    }
  }
}

@keyframes smoothMenuShow {
  0% {
    transform: translate(100%, 0);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes smoothMenuHide {
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }

  100% {
    transform: translate(100%, 0);
    opacity: 0;
  }
}
