.HomeHeader {
  grid-area: header;
  width: 100%;
  padding: 2rem 0 1rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.leftSide {
  display: flex;
  justify-content: left;
  gap: 1rem;
}

.logoVertical {
  justify-items: center;
  width: 100%;
}

.rightSide {
  display: flex;
  justify-content: right;
  gap: 1rem;
}
