@use "src/assets/vars";

// Media queries
@mixin desktop {
  @media only screen and (width <= $desktop) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (width <= $tablet) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (width <= $mobile) {
    @content;
  }
}

// animation
@mixin fade($type) {
  @if $type== "hide" {
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 1s;
  } @else if $type== "show" {
    visibility: visible;
    opacity: 1;
    transition: visibility 1s, opacity 1s;
  }
}

@mixin button(
  $size: "xl",
  $color: "primary",
  $variant: "default"
) {
  //font-size: $base-font;
  background: var(--button-primary-bg);
  font-size: .9rem;

  &:hover {
    background: var(--button-primary-bg-hover);
  }

  @if $size== "xl" {
    padding: 0.8rem 2rem;
    font-size: medium;
    border-radius: $border-radius;
  } @else if $size== "x" {
    padding: 0.6rem 1.7rem;
    font-size: medium;
    border-radius: $border-radius;
  } @else if $size== "l" {
    padding: 0.5rem 1.5rem;
    font-size: small;
    border-radius: calc($border-radius / 1.5);
  } @else if $size== "s" {
    padding: 0.2rem 1rem;
    font-size: small;
    border-radius: calc($border-radius / 2);
  }


  @if $variant== "icon" {
    aspect-ratio: 1;
    @if $size== "xl" {
      padding: 0.8rem;
    } @else if $size== "x" {
      padding: 0.6rem;
    } @else if $size== "l" {
      padding: 0.5rem;
    } @else if $size== "s" {
      padding: 0.2rem;
    }
  } @else if $variant== "default" {
    aspect-ratio: auto;
  }

  @if $color== "primary" {
    background: var(--button-primary-bg);
    color: var(--button-secondary-color);

    &:hover {
      background: var(--button-primary-bg-hover);
      color: var(--button-secondary-color);
    }
  }

  @if $color== "secondary" {
    background: var(--button-secondary-bg);
    color: var(--button-secondary-color);

    &:hover {
      background: var(--button-secondary-bg-hover);
      color: var(--button-secondary-color);
    }
  }

  @if $color== "ghost" {
    color: var(--font-color);
    background: none;

    &:hover {
      color: var(--font-color);
      background: var(--color-light-grey);
    }
  }

  @if $color== "transparent" {
    color: var(--font-color);
    background: none;

    &:hover {
      color: var(--font-color);
      background: none;
    }
  }

  width: 100%;
  transition: $transition;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  gap: 0.5rem
}

// inputs
@mixin input {
  padding: 0.575rem 1rem;
  font-size: 1rem;
  border: 1px solid var(--border-color);
  transition: $transition;
  border-radius: $border-radius;
  background: var(--bg-color);

  &:hover,
  &.active,
  &:focus,
  &:focus-within {
    border-color: var(--border-color-darker);
    background: var(--bg-color-darker);
    outline: none;
  }
}

// textarea

// input placeholder
@mixin input-placeholder {
  &.placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
  }
}

// scrollbar
@mixin scrollbar {
  // for Chrome и Safari
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 30px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--scroll-foreground-color);
    border-radius: 30px;
  }

  &::-webkit-scrollbar-track {
    background: var(--scroll-background-color);
    border-radius: 30px;
  }
  // for Firefox
  scrollbar-color: var(--scroll-foreground-color) var(--scroll-background-color);
}
