//@media (prefers-color-scheme: dark) {
//  html {
//    color-scheme: dark;
//  }
//}

:root {

  // LIGHT THEME
  --font-color: #333333;
  --font-color-alt: #000000;
  --font-color-dimmed: #999999;
  --font-color-dimmed-darker: #666666;

  --bg-color: #ffffff;

  --primary-color: #ec4545;
  --primary-color-darker: #e2e2e2;
  --secondary-color: #505050;
  --secondary-color-darker: #2B2B2B;
  --success-color: #45ec69;
  --warning-color: #ecd345;
  --error-color: #ec4545;
  --color-light-grey: #F0F0F0;
  --color-light-grey-darker: #e1e1e1;

  --border-color: #d1d1d1;
  --border-color-darker: #949494;

  --footer-bg-color: #F0F0F0;
  --footer-font-color: #000000;

  --block-shadow-color: #c0bdbd;

  --overlay-bg: rgb(87 87 87 / 50%);

  --1-column-header-color: #FFBEBE;
  --2-column-header-color: #FDFFB2;
  --3-column-header-color: #B8FFC3;

  ::-webkit-input-placeholder {
    color: var(--font-color-dimmed)
  }

  // DARK THEME
  //@media (prefers-color-scheme: dark) {
  //  --font-color: #ffffff;
  //  --bg-color: #1b1b1b;
  //}
}
