$desktop: 1920px;
$notebook: 1180px;
$tablet: 900px;
$mobile: 600px;

$base-font: 16px;

@media screen and (width <=$tablet) {
  $base-font: 16px;
}

$paddings-container-desktop: 0 2rem;
$paddings-container-notebook: 0 2rem;
$paddings-container-tablet: 0 1.5rem;
$paddings-container-tablet-900: 0 1.5rem;
$paddings-container-mobile: 0 1rem;

$transition: 150ms;
$border-radius: 10px;

$footer-padding: 5.5rem 0 2.4rem;

$border: 0 0 0 1px var(--font-color-dimmed);

$shadow-s: 0 2px 6px 0 rgb(0 0 0 / 20%);
$shadow-l: 0 4px 12px 0 rgb(0 0 0 / 20%);

$section-paddings-s: 1.5rem;
$section-paddings-l: 2.5rem;
$section-paddings-xl: 4rem;

:root {
  --desktop: $desktop;
  --notebook: $notebook;
  --tablet: $tablet;
  --mobile: $mobile;

  --swiper-pagination-color: rgba(255, 255, 255);
  --swiper-pagination-bullet-inactive-color: rgba(255, 255, 255, 0.25);
  --swiper-pagination-bullet-inactive-opacity: 0.9;
}
