@import "../../../assets/vars";
@import "../../../assets/mixins";

$modal-padding: 15px;
$modal-body-max-height: 95vh;
$modal-actions-height: 15px;

@media screen and (width <=$tablet) {
  $modal-padding: 20px;
}

@media screen and (width <=$mobile) {
  $modal-padding: 15px;
}

.Modal {
  position: fixed;
  inset: 0;
  z-index: 2000;
}

.header {}

.overlay {
  position: fixed;
  inset: 0;
  background-color: var(--overlay-bg);
  z-index: 2000;
  transition: $transition;
  animation: smoothAppearanceOverlayHide $transition forwards;
  display: none;

  &.active {
    display: block;
    animation: smoothAppearanceOverlayShow $transition forwards;
  }
}

.body {
  position: fixed;
  top: 2.5vh;
  left: 50%;
  z-index: 2001;
  padding: $modal-padding;
  width: calc(100% - $modal-padding * 4);
  max-height: $modal-body-max-height;
  max-width: 600px;
  background: var(--modal-bg);
  border-radius: $border-radius;
  overflow: hidden;
  box-shadow: $shadow-s;
  overflow-y: auto;
  @include scrollbar;
  animation: smoothAppearanceHide $transition forwards;
  display: none;

  &.active {
    display: block;
    animation: smoothAppearanceShow $transition forwards;
  }
}

.content {
  padding: 5px $modal-padding calc($modal-padding + $modal-actions-height) $modal-padding;

  .ProjectList {
    &__container {
      max-width: none;
    }

    &__project-header {
      margin-top: 30px;
    }
  }
}

.actions {
  position: sticky;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 15px 0;
  background: var(--modal-bg);
  border-top: 1px solid var(--border-color);
}

.okBtn {
  width: 80px;
}

.okBtn {
  @include button($size: "xl", $color: "primary");
}

.cancelBtn {
  @include button($size: "xl", $color: "secondary");
}

.closeBtn {
  position: absolute;
  top: calc($modal-padding / 2);
  right: calc($modal-padding / 2);
  font-size: 1.5rem;
  cursor: pointer;
}

@keyframes smoothAppearanceShow {
  0% {
    transform: translate(-50%, -100%);
    opacity: 0;
    visibility: hidden;
  }

  100% {
    transform: translate(-50%, 0);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes smoothAppearanceHide {
  100% {
    transform: translate(-50%, 0);
    opacity: 1;
    visibility: visible;
  }

  0% {
    transform: translate(-50%, -100%);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes smoothAppearanceOverlayShow {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes smoothAppearanceOverlayHide {
  100% {
    opacity: 1;
    visibility: visible;
  }

  0% {
    opacity: 0;
    visibility: hidden;
  }
}