@import "src/assets/vars";
@import "src/assets/mixins";


.ButtonWithIcon {
  width: 100%;
  transition: $transition;
  display: flex;
  align-items: center;
  justify-content: center;

  &__icon {
    font-size: 1.4rem;
  }

  &__name {
    margin-top: 2px;
    margin-left: 10px;
  }

  &__text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

}
