@import 'src/assets/vars.scss';

.NewProject {
  margin: auto;
  margin-bottom: 50px
}

.NewProjectForm {
  display: flex;
  gap: 10px;

  @media screen and (width <=$mobile) {
    flex-direction: column;
  }

  .input-wrapper {
    display: flex;
    gap: 5px;
    flex-direction: column;
    flex: 1;
  }

  &__label {
    font-size: .88rem;
  }

  &__input {}

  &__selectIconBtn.button {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: end;
    padding: 10px;
    font-size: 1.8rem;

    @media screen and (width <=$mobile) {
      align-self: auto;
    }

  }

  &__text {
    font-size: .8rem;
    padding: 0 10px;
  }
}

.iconsBox {
  &__icon {
    font-size: 1.5rem;
  }

  &__btn {
    padding: 0.5rem 0.6rem;
    cursor: pointer;

    &:hover {
      background-color: var(--color-light-grey-darker);
    }
  }
}