@import "src/assets/vars";
@import "src/assets/mixins";

.Task {
  background: var(--color-light-grey-darker);
  padding: 10px 5px 10px 10px;
  border-radius: $border-radius;
  cursor: pointer;
  position: relative;
  min-height: 24px;
  flex: none;

  .Task-header {
    display: flex;
    gap: 0 5px;
    align-items: flex-start;
    line-height: 1.2;
  }

  .Task-footer {
    display: flex;
    gap: 0 10px;
    flex-wrap: wrap;
    font-size: 0.8rem;
    color: var(--font-color-dimmed);
    margin: 5px 0 0 32px;
    line-height: 1.5;
  }

  .mce-content-body {
    margin: 0;
    padding: 0 5px 5px;

    p {
      margin: 0;
    }

    &.mce-edit-focus {
      outline: none;
      background: var(--color-light-grey);
      border-radius: $border-radius / 2;
      cursor: auto;
    }
  }

  &__checkbox {
    cursor: pointer;
    transform: scale(1.6);
    margin-top: 6px;
  }

  &__editText {
    resize: none;
    background: transparent;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    border: none;
    line-height: 1.2;
    padding: 0;
    width: 100%;
    color: var(--font-color);
    box-shadow: 0 1px 0 var(--border-color-darker);
    border-radius: 0;

    &:focus-visible,
    &:focus-within {
      cursor: auto;
    }
  }

  .TaskNameWrap {
    flex: 1;

    .ButtonWithIconWrap {
      display: inline-block;
      position: absolute;
      margin-top: 1px;
    }
  }


  &.done {
    color: var(--font-color-dimmed);
    background: var(--color-light-grey-dimmed);

  }

  &__name {
    padding: 3px 0 0 6px;
    overflow-wrap: anywhere;
    transition: $transition;
    line-height: 1.2;

  }

  &:hover {
    .button {
      opacity: 1;
    }
  }

  &__menuBtn.button,
  &__editBtn.button {
    @include button("s");

    .ButtonWithIcon__icon {
      font-size: 1rem;
    }
  }

  &__menuBtn.button {
    padding: 2px;

    .ButtonWithIcon__icon {
      font-size: 1.2rem;
    }
  }

  &__editBtn.button {
    opacity: 0;
    gap: 0;
    padding: 0 5px;

    &:hover {
      color: var(--primary-color);
    }

  }

  &__data {
  }

  &__due {


    .due {
      display: flex;
      gap: 5px;

      &__title {
        font-weight: 700;
      }

      &__date {
      }
    }
  }

  &__done {
    .done {
      display: flex;
      gap: 5px;

      &__title {
        font-weight: 700;
      }

      &__date {
      }
    }
  }
}
