@import "src/assets/vars";
@import "src/assets/mixins";

.Task {
  background: var(--color-light-grey-darker);
  padding: 0.5rem 0.2rem 0.5rem 0.5rem;
  border-radius: $border-radius;
  cursor: pointer;
  position: relative;
  min-height: 1.5rem;
  flex: none;

  &__header {
    display: flex;
    gap: 0 0.2rem;
    line-height: 1.5;
    justify-content: space-between;
    align-items: center;
  }

  &__footer {
    display: flex;
    gap: 0 1rem;
    flex-wrap: wrap;
    font-size: 0.9rem;
    color: var(--font-color-dimmed);
    margin: 0.5rem 0.5rem 0 0;
    justify-content: space-between;
  }

  .mce-content-body {
    margin: 0;
    padding: 0 5px 5px;

    p {
      margin: 0;
    }

    &.mce-edit-focus {
      outline: none;
      background: var(--color-light-grey);
      border-radius: calc($border-radius / 2);
      cursor: auto;
    }
  }

  &__checkbox {
    cursor: pointer;
    transform: scale(1.6);
    margin-top: 6px;
  }

  &__editText {
    resize: none;
    background: transparent;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    border: none;
    line-height: 1.2;
    padding: 0;
    width: 100%;
    color: var(--font-color);
    box-shadow: 0 1px 0 var(--border-color-darker);
    border-radius: 0;

    &:focus-visible,
    &:focus-within {
      cursor: auto;
    }
  }

  .TaskNameWrap {
    flex: 1;

  }

  .editBtn {
    display: inline-block;
    position: absolute;
    margin-top: 1px;
  }


  &.done {
    color: var(--font-color-dimmed);
    background: var(--color-light-grey-dimmed);

  }

  &__name {
    padding: 3px 0 0 6px;
    transition: 150ms;
    line-height: 1.2;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover .Task__editBtn {
      opacity: 1;
    }
  }

  &__editBtn {
    font-size: 1.2rem;
    opacity: 0;
    gap: 0;
    padding: 0 0.5rem;
  }


  &__menuBtn,
  &__editBtn {
    @include button($size: "s", $variant: "icon", $color: "transparent");
    width: fit-content;
  }

  &__data {}

  &__due {


    .due {
      display: flex;
      gap: 5px;

      &__title {
        font-weight: 700;
      }

      &__date {}
    }
  }

  &__done {
    .done {
      display: flex;
      gap: 5px;

      &__title {
        font-weight: 700;
      }

      &__date {}
    }
  }
}