@import "src/assets/vars";
@import "src/assets/mixins";

.Home {
}

.button {
  @include button($size: "xl", $color: "primary");
  margin-top: 1rem;
  width: fit-content;
  height: fit-content;
}

.title {
  text-align: center;
  margin-bottom: 1rem;
}

.description {
  max-width: 40rem;
  text-align: center;
}

.img {
  width: 100%;
  max-width: 60rem;
  margin: 2rem 0;
  box-shadow: 0 15px 35px -10px var(--block-shadow-color);
  border-radius: 1rem;
}

.section {
  display: grid;
  gap: 3rem;
  place-content: center;
  @media screen and (width <=768px) {
    gap: 1rem;
  }
}

.hero {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
