@import 'src/assets/vars.scss';

.ProjectList {
  display: grid;
  gap: 20px;
  max-width: 50%;
  grid-template-columns: repeat(auto-fit, minmax(145px, 10%));
  margin: auto;
  justify-content: center;

  @media screen and (width <=$mobile) {
    max-width: 100%;
  }
}