@import "assets/vars.scss";

.ProjectList {


  &__project-header {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 50px;
  }

  &__container {
    display: grid;
    gap: 20px;
    max-width: 50%;
    grid-template-columns: repeat(auto-fit, minmax(140px, 10%));
    margin: auto;
    justify-content: center;
  }

  @media screen and (width <=$mobile) {
    max-width: 100%;
  }
}
