@import "../../../assets/vars";

.HomeHeader {
  grid-area: header;
  width: 100%;
  padding: 2rem 0 1rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
      "left center right";

  @media screen and (width <=$tablet) {
    gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-areas:
      "center"
      "right";
  }
}

.leftSide {
  grid-area: left;
  display: flex;
  justify-content: left;
  gap: 1rem;

  @media screen and (width <=$tablet) {
    display: none;
  }
}

.logoVertical {
  grid-area: center;
  justify-items: center;
  width: 100%;
}

.rightSide {
  grid-area: right;
  display: flex;
  justify-content: right;
  gap: 0.5rem;

  @media screen and (width <=$tablet) {
    justify-content: center;
  }
}

.menu {
  margin-left: 1rem;
}
