@import "src/assets/vars.scss";
@import "src/assets/mixins.scss";

.ProjectList {
  .list {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 10%));
    margin: 3rem auto 0;
    justify-content: center;
  }

  @media screen and (width <=$mobile) {
    max-width: 100%;
  }

  &__noProjects {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 50px;
  }
}

.ProjectButton {
  @include button($size: "xl", $color: "secondary")
}
