@import "src/assets/vars";
@import "src/assets/mixins";

.Search {
  position: relative;

  &__input {
    width: calc(100% - 1.5rem);
  }


  .clearButton {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    @include button($size: "l", $color: "ghost", $variant: "icon");
    color: var(--font-color-dimmed);
    width: fit-content;
    height: fit-content;

    &:hover {
      color: var(--font-color);
    }

  }
}
